.header {
	padding: 4px 12px;
	border-bottom: 1px solid #333;
	display: flex;
	justify-content: space-between;
}

.logout {
	font-size: 12px;
	padding: 4px 8px;
}

.playerChip {

}

.playerChip .title {
	padding-right: 4px;
}


.ratingChip {
	font-size: 14px;
}

.vs {
	padding: 0px 12px;
}

.ratingDelta {
	font-size: 14px;
	padding-left: 12px;
}
