.header {
	padding: 4px 12px;
	border-bottom: 1px solid #333;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.logout {
	font-size: 12px;
	padding: 4px 8px;
}

.playerChip .wins {
	padding-right: 4px;
}

.playerChip .title {
	padding-right: 4px;
}

.playerChip .delta {
	padding-left: 4px;
}

.ratingChip {
	font-size: 14px;
}

.vs {
	padding: 0px 12px;
}

.ratingDelta {
	font-size: 14px;
	padding-left: 12px;
}

.home .tournamentList[aria-busy="true"] {
	text-align: left;
}

.loading[aria-busy="true"] {
	display: inline-block;
}

.backButton {
	margin-bottom: 1rem;
}
